.main-container {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearing {
	clear: both;
}

/* this is a bootstrap reset which seems not to be correctly built by webpack */
*,
::after,
::before {
	box-sizing: border-box;
}