
// for use in components
$color-valid: #28a745;
$color-invalid: #dc3545;
$color-focus: #007bff;
$color-flash-background: #fff;

$color-panel-border: #999;

$color-placeholder: #aaa;

$color-navbar-background: #7580ac;
$color-navbar-color: #fff;
$color-navbar-hover: rgba(255, 255, 255, .7);
$color-navbar-focus: rgba(255, 255, 255, .7);

$color-text: #424a6c;
$color-link: #007bff;
$color-hint: #666;
$color-hint-background: #fff;

$color-tab-inactive-background: #ccc;
$color-tab-inactive-color: #666;
$color-tab-border: #7580ac;
$color-tab-focus: #007bff;;

$color-paginate: #4285f4;
$color-paginate-active: #333;
$color-paginate-disabled: #999;

$color-home-page-background: #ddd;

$color-pattern-page-background: #ddd;
$color-chart-editing-background: #eee;
$color-chart-background: #fff;
$color-chart-border: #999;

$color-palette-background: #fff;
$color-palette-outline: #007bff;
$color-orientation: #333;
$color-palette-disabled: #ccc;
$color-palette-button-selected: #172f79;

$color-weaving-backwards-bg: #bbb;
$color-weaving-delete: #dc3545;

$color-interactive-weaving-chart-page-background: #333;
$color-interactive-weaving-chart-color: #fff;
$color-interactive-weaving-chart-highlight: rgba(0, 0, 0, .7);
$color-interactive-weaving-chart-outline: #007bff;

$color-preview-tablet: #666;
$color-preview-tablet-color: #fff;
$color-preview-start-position: #7580ac;
$color-preview-twist-neutral: #6aa84f;

$color-weft-picker-border: #444;

$color-pattern-summary-background: #fff;
$color-pattern-summary-description: #333;
$color-pattern-summary-shadow: rgba(130, 130, 130, 1);
$color-pattern-summmary-tablets: #fff;
$color-pattern-summary-tablets-background: rgba(51, 51, 51, .6);
$color-pattern-preview-background: #333;
$color-pattern-summary-name: #3b5998;
$color-pattern-summary-created-by: #999;

$pattern-summary-preview-height: 112px;
$pattern-summary-preview-width: 270px;
$pattern-summary-preview-margin: 16px;

$color-pattern-image-background: rgba(0, 0, 0, .9);
$color-pattern-image-caption-bg: #333;
$color-pattern-image-color: #fff;

$color-color-book-summary-color: #3b5998;
$color-color-book-summary-background: #fff;

$color-print-background: #fff;
$color-print-color: #000;

$color-progress-border: #999;
$color-progress-slider: #ccc;

$color-tags-border: #d1d1d1;
$color-tags-background: #fff;
$color-tags-selected: #f1f1f1;
$color-tags-hover: #eee;
$color-tags-hover-border: #eee;
$color-tags-shadow: rgba(0, 0, 0, .2);
$color-tags-after: #aaa;
$color-tags-bg-active: #b7cfe0;

$color-search-controls-background: #fff;
$color-search-focus-background: #a8e1ff;
$color-search-info: #999;

$color-main-menu-background: #fff;
$color-main-menu-selected-background: #ccc;

$color-pattern-list-preview: #666;
$pattern-list-preview-padding: 15px;

$color-userpic-1: #ffc;
$color-userpic-2: #9fc;
$color-userpic-3: #c9c;
$color-userpic-4: #9cf;
$color-userpic-5: #c90;

$color-row-direction: #424a6c;
$color-row-direction-background: #fff;
$color-row-direction-background-disabled: #ccc;

$color-twill-design-cell-background: #fff;
$color-twill-design-cell-border: #999;
$color-twill-design-cell-color: #dc3545;

// this is a hack to extract variable values from scss
// https://stackoverflow.com/questions/3326494/parsing-css-in-javascript-jquery
// :export { var: $var } is the right way but I can't get it to work
// each variable has to be assigned to a valid css rule
exporter {
	margin-right: $pattern-summary-preview-margin;
	padding: $pattern-list-preview-padding;
	width: $pattern-summary-preview-width;
}
