
// for use in components
$color-valid: #28a745;
$color-invalid: #dc3545;
$color-focus: #007bff;

$color-panel-border: #999;

$color-placeholder: #aaa;

$color-text: #333;
$color-link: #007bff;
$color-hint: #666;

$color-paginate: #4285f4;
$color-paginate-active: #333;
$color-paginate-disabled: #999;

$color-pattern-page-background: #eee;
$color-chart-background: #fff;
$color-chart-border: #999;

$color-toolbar-background: #fff;
$color-toolbar-selected: #007bff;

