@import "../constants/variables";

.add-to-set-button {
	button {
		background-color: transparent;
		border-color: transparent;
		height: 40px;
		width: 40px;

		.icon {
			background: transparent no-repeat right 0 top 0;
			background-size: 16px 16px;
			float: left;
			height: 16px;
			margin-right: 8px;
			width: 16px;
		}
	}

	svg {
		pointer-events: none; // prevent svg from stealing click event without dataset
	}
}

.add-to-set-panel-holder {
	left: 50%;
	position: fixed;
	top: 10px;
	transform: translate(-50%, 0);
	z-index: 3;
}
