@import "../constants/variables";

.add-to-set-button {
	button {
		background-color: transparent;
		border-color: transparent;
		height: 40px;
		width: 40px;
	}

	svg {
		pointer-events: none; // prevent svg from stealing click event without dataset
	}
}

.add-to-set-panel-holder {
	left: 50%;
	position: fixed;
	top: 10px;
	transform: translate(-50%, 0);
	z-index: 3;

	.panel {
		background: $color-panel-background;
		border: 1px solid $color-panel-border;
		border-radius: 4px;
		padding: 8px;
	}
}
