@import "../constants/variables";

.color-books {
	background: $color-palette-background;
	border: 1px solid $color-panel-border;
	border-radius: 4px;
	margin-bottom: 8px;
	max-width: 698px; // align with palette
	padding: 8px;
	position: relative;

	.buttons-books {
		float: right;

		button {
			margin-left: 8px;
		}
	}

	.select-color-book {
		clear: both;

		select {
			margin-top: 8px;
		}
	}
}

.new-color-book-holder {
	left: 50%;
	position: fixed;
	top: 100px;
	transform: translate(-50%, 0);
	z-index: 3;
}
