@import "../constants/variables";

.color-book-summary {
	background-color: $color-color-book-summary-background;
	border-radius: 4px;
	box-shadow: 0 2px 4px 0 $color-pattern-summary-shadow;
	line-height: 40px;
	margin-bottom: 16px;
	overflow: hidden;
	padding: 8px;
	width: 650px;

	.name {
		color: $color-color-book-summary-color;
		font-weight: bold;

		svg {
			margin-right: 8px;
		}
	}

	.colors {
		label {
			line-height: 24px;
		}
	}

	.header-buttons {
		float: right;

		button {
			background-color: transparent;
			border-color: transparent;
			margin-left: 8px;

			&:first-child {
				margin-right: 0;
			}
		}
	}

	.is-public {
		display: inline-block;
	}

	.controls {
		clear: both;
		float: left;
		margin-bottom: 8px;
		width: 100%;
	}
}
