@import "../constants/variables";

.color-book {
	.controls {
		margin: 8px 0;

		.buttons {
			float: left;
		}

		button {
			margin-right: 8px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.hint {
		clear: both;
	}

	label {
		margin: 0;
	}

	.colors {
		clear: both;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -8px;
		margin-right: -8px;
		width: 646px;
	}

	.color {
		border: 1px solid $color-panel-border;
		cursor: pointer;
		display: inline-block;
		height: 32px;
		margin-bottom: 8px;
		margin-right: 8px;
		position: relative;
		width: 32px;

		&:focus {
			outline: 2px dashed $color-focus;
			outline-offset: 2px;
		}

		&.selected {
			outline: 4px solid $color-palette-outline;
		}

		&.disabled {
			outline: 0;
			pointer-events: none;

			&::before {
				background: $color-color-book-disabled;
				content: " ";
				height: 32px;
				left: 0;
				position: absolute;
				top: 0;
				width: 32px;
			}
		}
	}
}

.edit-color-book-picker-holder {
	left: 50%;
	position: fixed;
	top: 10px;
	transform: translate(-50%, 0);
	z-index: 3;
}

