@import "../constants/variables";

.color-books {
	background: $color-palette-background;
	border: 1px solid $color-panel-border;
	border-radius: 4px;
	margin-bottom: 8px;
	padding: 8px;
	position: relative;
	width: 490px;

	.close {
		float: right;
	}

	.select-color-book {
		margin-top: 8px;
		width: 100%;
	}
}
