@import "../constants/variables";

.color-books {
	background: $color-toolbar-background;
	border: 1px solid $color-panel-border;
	border-radius: 4px;
	padding: 8px;
	position: relative;
	width: 378px;

	.close {
		float: right;
	}

	.select-color-book {
		margin-top: 8px;
		width: 100%;
	}
}
