@import '../constants/variables';

.flash-message {
	background: $color-flash-background;
	border-radius: 8px;
	padding: 8px;
	position: relative;
	z-index: 20;

	&.error {
		border: 1px solid $color-invalid;
		color: $color-invalid;

		&::before {
			content: '\2718 ';
		}
	}

	&.success {
		border: 1px solid $color-valid;
		color: $color-valid;

		&::before {
			content: '\2713 ';
		}
	}

	.close {
		appearance: none;
		background-color: transparent;
		border: 0;
		color: $color-hint;
		float: right;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		padding: 0;
	}
}
