@import '../constants/variables';

.flash-message {
	background: $color-flash-background;
	border-radius: 8px;
	padding: 8px;
	position: relative;
	z-index: 20;

	&.error {
		border: 1px solid $color-invalid;
		color: $color-invalid;

		&::before {
			content: '\2718 ';
		}
	}

	&.success {
		border: 1px solid $color-valid;
		color: $color-valid;

		&::before {
			content: '\2713 ';
		}
	}

	.btn-close {
		float: right;
	}
}
