@import "../constants/variables";

// menu and content for Home and 'listing' pages like My Patterns
.home,
.all-patterns,
.my-patterns,
.recent-patterns,
.new-patterns,
.people {
	background-color: $color-home-page-background;

	.main-container {
		max-width: unset;
		width: unset;
	}

	.main-menu {
		background-color: $color-main-menu-background;
		float: left;
		list-style: none;
		padding: 16px 0;
		position: relative;
		top: -16px;
		width: 200px;

		li {
			cursor: pointer;
			float: left;
			line-height: 2;
			padding: 0 16px;
			text-overflow: ellipsis;
			white-space: pre-line;
			width: 100%;

			&.selected {
				background-color: $color-main-menu-selected-background;
			}
		}
	}

	.menu-selected-area {
		margin-left: 200px;
		max-width: unset;
		width: unset;

		.container {
			margin-left: 0;
		}
	}
}

