@import "../constants/variables";

.navbar {
	background: $color-navbar-background;
	color: $color-navbar-color;

	.pattern-menu,
	.upload-menu {
		button {
			background-color: transparent;
			border-color: transparent;

			&:focus {
				outline: 1px dotted $color-navbar-focus;
			}
		}
	}

	.button-text {
		margin-left: 8px;
	}

	.logo {
		background: url("../images/logo.png") transparent no-repeat right 0 top 0;
		background-size: 32px 32px;
		float: left;
		font-weight: bold;
		height: 32px;
		line-height: 32px;
		margin: 0 8px 0 0;
		width: 32px;
	}
}

.navbar-brand,
.nav-link {
	color: $color-navbar-color !important;

	&:hover {
		color: $color-navbar-hover !important;
	}
}

.navbar-brand {
	font-size: .8rem;
	font-weight: bold;
}
