@import "../constants/variables";

.item-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-left: 0;
	margin-right: 0;
	padding: 8px;

	.empty {
		width: 100%;
	}

	.select-items-per-page {
		select {
			display: inline-block;
			width: auto;
		}
	}
}
