@import "../constants/variables";

.paginate {
	ul {
		justify-content: center;
		margin-top: 8px;
	}

	li {
		cursor: pointer;
		display: inline-block;
		margin: 0 4px;

		a {
			color: $color-paginate;
		}

		&.active {
			a {
				color: $color-paginate-active;
			}
		}

		&.disabled {
			a {
				color: $color-paginate-disabled;
			}
		}

		&.previous {
			margin-right: 8px;
		}

		&.next {
			margin-left: 8px;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}
