@import "../constants/variables";

.palette {
	.color {
		border: 1px solid $color-panel-border;
		display: inline-block;
		height: 32px;
		margin-right: 8px;
		width: 32px;
	}

	label {
		font-size: 0;
	}

	.selected {
		outline: 4px solid $color-toolbar-selected;
	}
}
