@import "../constants/variables";

.palette {
	position: relative;

	.color {
		border: 1px solid $color-panel-border;
		display: inline-block;
		height: 32px;
		margin-right: 8px;
		width: 32px;
	}

	.color-holder {
		margin-left: 40px;
	}

	.controls {
		float: left;
		margin-bottom: 8px;
		width: 100%;

		.toggle {
			float: right;
		}
	}

	label {
		font-size: 0;

		&[for="empty-hole"] {
			float: left;
		}
	}

	.empty-hole {
		border: 1px solid $color-panel-border;
		display: inline-block;

		height: 32px;
		margin-right: 8px;
		position: relative;
		width: 32px;

		svg {
			position: absolute;
		}
	}

	&.editing {
		.empty-hole {
			background: $color-palette-disabled;
		}
	}

	span {
		&:focus {
			outline: 2px dashed $color-focus;
			outline-offset: 2px;
		}

		&.selected {
			outline: 4px solid $color-toolbar-outline;
		}
	}

	.btn-toolbar {
		display: inline-block;

		button {
			&.selected {
				background: $color-palette-button-selected;
				border-color: $color-palette-button-selected;
			}
		}
	}
}

.edit-color-books-holder {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}
