@import "../constants/variables";

.is-editing {
	.pattern-preview {
		opacity: .5;
	}
}

.pattern-preview {
	margin: 8px 0 8px 0;
	/* overflow-y: hidden; */
	position: relative;

	.preview-overlay {
		display: none;
	}

	.preview-wrapper {
		pointer-events: none;
		position: relative;
	}

	&.up {
		.repeat {
			display: none;
		}
	}

	// for when scaled
	&.left,
	&.right {
		overflow-y: hidden;
	}

	&.left {
		max-width: 800px;

		.total-turns,
		.tablet-labels {
			span {
				-ms-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
			}
		}

		.row-numbers {
			span {
				-ms-transform: rotate(90deg);
				-webkit-transform:  rotate(90deg);
				transform: rotate(90deg);
				text-align: center;
			}
		}
	}

	&.right {
		max-width: 800px;

		.total-turns,
		.tablet-labels {
			span {
				-ms-transform: rotate(-90deg);
				-webkit-transform: rotate(-90deg);
				transform: rotate(-90deg);
				text-align: center;
			}
		}

		.row-numbers {
			span {
				-ms-transform: rotate(-90deg);
				-webkit-transform: rotate(-90deg);
				transform: rotate(-90deg);
				text-align: center;
			}
		}
	}

	.row-numbers {
		position: relative;

		span {
			height: 24px;
			margin-left: 4px;
			position: absolute;
			text-align: right;
			width: 24px;
		}
	}

	.preview-holder {
		clear: both;
	}

	ul {
		font-size: 0;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
		}

		.cell {
			display: inline-block;
			overflow: hidden;

			span {
				display: inline-block;
				height: 32px;
				width: 32px;

				&.selected {
					outline: 2px solid $color-palette-outline;
					outline-offset: -2px;
				}

				&.backward {
					background: $color-weaving-backwards-bg;
				}
			}
		}

		.label {
			border-right: 1px solid transparent;
			border-top: 1px solid transparent;
			font-size: 1rem;
			line-height: 32px;
			text-align: center;
		}

		.value {
			background: $color-chart-background;
			border-right: 1px solid $color-chart-border;
			border-top: 1px solid $color-chart-border;

			&:nth-child(2) {
				border-left: 1px solid $color-chart-border;
			}
		}
	}

	.row-number {
		text {
			font-size: 30px;
		}
	}

	.total-turns {
		float: left;
		font-size: 0.7rem;
		margin-bottom: 4px;
		margin-left: 5px;

		span {
			background: $color-preview-tablet;
			color: $color-preview-tablet-color;
			float: left;
			height: 19px;
			line-height: 19px;
			margin-right: 1px;
			text-align: center;
			width: 19px;

			&.start-position {
				background: $color-preview-start-position;
			}

			&.twist-neutral {
				background: $color-preview-twist-neutral;
			}
		}
	}

	.tablet-labels {
		float: left;
		font-size: .9rem;
		margin-left: 5px;
		position: relative;

		span {
			float: left;
			height: 19px;
			line-height: 19px;
			margin-right: 1px;
			text-align: center;
			width: 19px;
		}
	}

	.preview-row {
		overflow-x: auto;
		white-space: nowrap;
	}
}
