@import "../constants/variables";

.pattern-summary {
	background-color: $color-pattern-summary-background;
	border-radius: 4px;
	box-shadow: 0 2px 4px 0 $color-pattern-summary-shadow;
	display: inline;
	float: left;
	height: 216px;
	margin: 0 16px 16px 0;
	padding: 0;
	position: relative;
	width: 248px;
	/* z-index: 10; */

	a {
		line-height: 2.4;
	}

	button {
		float: right;
	}

	.main {
		a {
			display: block;
			height: 163px;
		}
	}

	h3 {
		color: #3B5998;
		cursor: pointer;
		display: block;
		font-size: 16px !important;
		font-weight: bold;
		overflow: hidden;
		padding: 8px 8px 2px 8px;
		text-overflow: ellipsis;
		white-space: pre-line;
	}

	.pattern-preview {
		background-color: $color-pattern-preview-background;
		height: $summary-preview-height;
		overflow: hidden;
		position: relative;
		width: $summary-preview-width;

		svg {
			bottom: 0;
			left: -$summary-preview-height;
			max-height: $summary-preview-width;
			max-width: $summary-preview-height;
			position: absolute;
			transform: rotate(90deg);
			transform-origin: 100% 100%;
		}
	}

	.footer {
		padding: 8px;
	}
}
