@import '../constants/variables';
$rw-font-path: '~/fonts';
$rw-img-path: '~/img';

.group-header {
  font-weight: bold;
  color: $color-search-info;
  font-size: 95%;
  padding: 8px 12px 4px 8px;
  display: block;
  width: 100%;
  background: none;
  margin: 0;
}

.search-box {
  width: 100%; // default width, narrow viewport

  .rw-list-optgroup {
    width: 100%;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
  }

  .search-controls {
    background-color: $color-search-controls-background;
    border-radius: 4px;
    color: $color-text;
    margin-bottom: 8px;
    width: 100%; // default width, narrow viewport

    input {
      border: 0;
      display: inline-block;
    }

    button {
      background: transparent;
      border: 0;
    }
  }

  .rw-widget-picker {
    display: none;
  }

  .rw-popup-container {
    width: 100%;
  }

  .rw-list {
    max-height: 300px;
  }

  .rw-list-option {
    float: left;
    line-height: 1;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;

    .search-result-pattern,
    .search-result-user,
    .search-result-set {
      color: $color-text;
      float: left;
      text-decoration: none;
      width: 100%;

      div {
        margin-left: 56px;
      }
    }

    .show-more-patterns,
    .show-more-users,
    .show-more-sets {
      color: $color-search-info;
      font-weight: bold;
      padding: 8px 0;
      text-align: center;
      text-decoration: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        margin-right: 8px;
      }
    }

    &.rw-state-focus {
      background-color: $color-search-focus-background;
    }

    .main-icon {
      background-position: left top;
      background-repeat: no-repeat;
      background-size: cover;
      float: left;
      height: 60px;
      margin: 4px 8px 4px 8px;
      width: 120px;

      .pattern-previews {
        width: 100%;
      }
    }

    .search-result-pattern,
    .search-result-set {
      .tablets-count,
      .created-by,
      .patterns-count {
        color: $color-search-info;
        float: left;
        font-size: 85%;
        line-height: 1.5;
        margin: 4px 16px 0 0;

        .icon {
          float: left;
          height: 16px;
          margin: 0 4px 0 0;
          width: 16px;
        }
      }

      .tablets-count,
      .patterns-count {
        .icon {
          background: transparent no-repeat left top;
          background-size: 16px 16px;
        }
      }
    }

    .created-by {
      margin-right: 0 !important;

      .icon {
        background: transparent no-repeat left top;
        background-size: 16px 16px;
      }

      .text {
        float: left;
        overflow: hidden;
        width: 80px;
      }
    }

    .name,
    .username {
      display: block;
      font-size: 95%;
      font-weight: bold;
      margin: 7px 8px 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@media (min-width: 540px) {
  .search-box {
    width: unset; // tablet or larger

    .search-controls {
      margin-bottom: 0;

      input {
        width: 200px;
      }
    }

    .rw-popup-container {
      width: 420px;
    }
  }
}

@media (min-width: 992px) {
  .search-box {
    width: unset; // ddesktop width

    .search-controls {
      input {
        width: 300px;
      }
    }

    .rw-popup-container {
      width: 600px;
    }
  }
}
