@import '../constants/variables';
@import '../constants/mixins.scss';

.show-vertical-guides {
  margin: 8px 0;
  position: relative;

  input {
    margin-right: 8px;
    position: relative;
    float: left;
    top: 8px;
  }

  label {
    display: inline;
  }

  .key {
    width: 15px;
    height: 32px;
    display: inline-block;
    margin: 0 8px;
    vertical-align: middle;
  }

  .vertical-guide {
    @include verticalGuide();
  }

  .vertical-guide-center {
    @include verticalGuideCenter();
  }
}
