@import "../constants/variables";

.react-tags {
	background: $color-tags-background;
	border: 1px solid $color-tags-border;
	border-radius: 1px;
	color: $color-text;
	cursor: text;
	font-size: 1em;
	line-height: 1.2;
	margin-bottom: 8px;
	padding: 6px 0 0 6px;
	position: relative;

	button {
		color: $color-text;
	}

	.is-focused {
		border-color: $color-tags-border;
	}

	.selected {
		display: inline;
	}

	.selected-tag {
		background: $color-tags-selected;
		border: 1px solid $color-tags-border;
		border-radius: 2px;
		box-sizing: border-box;
		display: inline-block;
		font-size: inherit;
		line-height: inherit;
		margin: 0 6px 6px 0;
		padding: 6px 8px;

		&::after {
			color: $color-tags-after;
			content: "\2715";
			margin-left: 8px;
		}

		&:hover,
		&:focus {
			border-color: $color-tags-hover-border;
		}
	}

	.search {
		display: inline-block;

		// match tag layout
		padding: 7px 2px;
		margin-bottom: 6px;

		// prevent autoresize overflowing the container
		max-width: 100%;
	}

	@media screen and (min-width: 30em) {
		.search {
			// this will become the offsetParent for suggestions
			position: relative;
		}
	}

	input {
		// prevent autoresize overflowing the container
		max-width: 100%;

		// remove styles and layout from this element
		margin: 0;
		padding: 0;
		border: 0;
		outline: none;

		// match the font styles
		font-size: inherit;
		line-height: inherit;
	}

	::-ms-clear {
		display: none;
	}

	.suggestions {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;

		ul {
			margin: 4px -1px;
			padding: 0;
			list-style: none;
			background: $color-tags-background;
			border: 1px solid $color-tags-border;
			border-radius: 2px;
			box-shadow: 0 2px 6px $color-tags-shadow;
		}

		li {
			border-bottom: 1px solid $color-tags-border;
			padding: 6px 8px;

			mark {
				text-decoration: underline;
				background: none;
				font-weight: 600;
			}
		}

		:hover {
			cursor: pointer;
			background: $color-tags-hover;
		}

		.is-active {
			background: $color-tags-bg-active;
		}

		.is-disabled {
			opacity: .5;
			cursor: auto;
		}
	}

	@media screen and (min-width: 30em) {
		.suggestions {
			width: 240px;
		}
	}
}
