@import "../constants/variables";

.threading {
	ul {
		float: left;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
		}

		.label {
			display: inline-block;
			height: 32px;
			width: 32px;
		}

		.cell {
			display: inline-block;

			span {
				background: $color-chart-background;
				border-right: 1px solid $color-chart-border;
				display: inline-block;
				height: 32px;
				width: 32px;

				&:focus {
					outline: 2px dashed $color-focus;
					outline-offset: -2px;
				}
			}
		}
	}

	.row {
		&:first-child {
			.threading-row {
				border-top: 1px solid $color-chart-border;
			}
		}
	}

	.threading-row {
		border-bottom: 1px solid $color-chart-border;
		border-left: 1px solid $color-chart-border;
	}

	.orientations {
		border-bottom: 1px solid transparent;
		border-left: 1px solid transparent;
		border-top: 1px solid transparent;
		clear: both;
		font-size: 0;
		margin-left: 32px;
		margin-top: 8px;

		li {
			display: inline-block;
			font-size: 0;
			overflow: hidden;
			position: relative;

			> span {
				border-right: 1px solid transparent;
				display: inline-block;
				height: 32px;
				width: 32px;

				&:focus {
					outline: 2px dashed $color-focus;
					outline-offset: -2px;
				}
			}
		}

		.z,
		.s {
			-moz-border-radius: 8px;
			-webkit-border-radius: 8px;
			background-color: $color-orientation;
			border: 1px solid $color-orientation;
			border-radius: 8px;
			height: 10%;
			left: -2%;
			position: absolute;
			right: 0;
			top: 42%;
			width: 100%;
		}

		.z {
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		.s {
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}

	.hint {
		clear: both;
	}
}
