@import "../constants/variables";

.threading {
	ul {
		float: left;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
		}

		.label {
			display: inline-block;
			height: 32px;
			width: 32px;
		}

		.cell {
			display: inline-block;

			span {
				background: $color-chart-background;
				border-right: 1px solid $color-chart-border;
				display: inline-block;
				height: 32px;
				width: 32px;

				&:focus {
					outline: 2px dashed $color-focus;
					outline-offset: -2px;
				}
			}
		}
	}

	.row {
		&:first-child {
			.threading-row {
				border-top: 1px solid $color-chart-border;
			}
		}
	}

	.threading-row {
		border-bottom: 1px solid $color-chart-border;
		border-left: 1px solid $color-chart-border;
	}
}
