@import '../constants/variables';

.interactive-weaving-chart {
  .threading {
    .orientations {
      .s,
      .z {
        background-color: $color-interactive-weaving-chart-color !important;
      }
    }

    .include-in-twist-buttons {
      display: none;
    }
  }
}

.threading {
  clear: both;
  float: left;
  margin: 0 0 8px 0;
  padding-right: 8px;

  &.editing {
    min-width: 728px;

    .content {
      background: $color-chart-editing-background;
      border: 1px solid $color-focus;
    }

    .controls {
      margin-bottom: 8px;
    }
  }

  .content {
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0;
    padding: 8px;
  }

  .threading-chart-holder {
    position: relative;
  }

  ul {
    font-size: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }

    .cell {
      display: inline-block;
      overflow: hidden;

      span {
        -moz-appearance: none; /* Mozilla */
        -webkit-appearance: none; /* WebKit */
        appearance: none; /* CSS3 */
        display: inline-block;
        height: 32px;
        width: 32px;

        &:focus {
          outline: 2px dashed $color-focus;
          outline-offset: -2px;
        }
      }
    }

    .label {
      border-right: 1px solid transparent;
      border-top: 1px solid transparent;
      font-size: 1rem;
      line-height: 32px;
      text-align: center;
    }

    .value {
      background: $color-chart-background;
      border-right: 1px solid $color-chart-border;
      border-top: 1px solid $color-chart-border;

      &:nth-child(2) {
        border-left: 1px solid $color-chart-border;
      }
    }
  }

  .row {
    &:last-child {
      .threading-row {
        .value {
          border-bottom: 1px solid $color-chart-border;
        }
      }
    }
  }

  .tablet-labels {
    margin-left: 32px;
    overflow-x: auto;
    white-space: nowrap;
  }

  .include-in-twist-buttons {
    margin-left: 32px;

    ul {
      font-size: 1rem;
    }

    label {
      font-size: 0;
    }
  }

  .threading-chart {
    clear: both;
  }

  .threading-row {
    overflow-x: auto;
    white-space: nowrap;
  }

  .orientations {
    ul {
      clear: both;
      margin-left: 32px;

      li {
        display: inline-block;
        font-size: 0;
        overflow: hidden;
        position: relative;

        &:focus {
          outline: 2px dashed $color-focus;
          outline-offset: -2px;
        }

        &.value {
          background: transparent;
          border-color: transparent;
        }
      }

      .z,
      .s {
        background-color: $color-orientation;
        border-radius: 8px;
        border-right: 1px solid $color-orientation;
        height: 10%;
        left: -2%;
        position: absolute;
        right: 0;
        top: 42%;
        width: 100%;
      }

      .z {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .s {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }

  .hint {
    clear: both;
  }

  .remove-tablet-buttons {
    ul {
      clear: both;
      margin-left: 32px;

      li {
        border-right: 1px solid transparent;
        color: $color-weaving-delete;
        display: inline-block;
        font-size: 1rem;
        line-height: 32px;
        text-align: center;

        &:focus {
          outline: 2px dashed $color-focus;
          outline-offset: -2px;
        }

        &.value {
          background: transparent;
          border-color: transparent;
        }
      }
    }
  }
}
