@import "../constants/variables";

.user-summary {
	background-color: $color-pattern-summary-background;
	border-radius: 4px;
	box-shadow: 0 2px 4px 0 $color-pattern-summary-shadow;
	display: inline;
	float: left;
	margin: 0 0 16px 0;
	padding: 0;
	position: relative;
	width: $pattern-summary-preview-width;

	a {
		color: $color-pattern-summary-name;
		line-height: 2.4;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	h3 {
		color: $color-pattern-summary-name;
		cursor: pointer;
		display: block;
		font-size: 16px !important;
		font-weight: bold;
		line-height: 32px;
		overflow: hidden;
		padding: 8px 8px 2px 8px;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover {
			text-decoration: none;
		}

		.icon {
			background-image: url("../images/user_profile.png");
			background-position: left top;
			background-repeat: no-repeat;
			background-size: 32px 32px;
			float: left;
			height: 32px;
			margin: 0 8px 0 0;
			width: 32px;
		}
	}

	.description {
		color: $color-pattern-summary-description;
		display: block;
		font-size: 14px;
		height: 32px;
		line-height: 1.2;
		margin: 0 8px 4px 8px;
		overflow: hidden;
		white-space: pre-line;
	}

	.info {
		padding: 8px 8px 8px 8px;

		.public-color-books,
		.public-patterns {
			display: inline-block;
			font-weight: bold;
			line-height: 1;
			margin-right: 16px;

			.icon {
				float: left;
				height: 16px;
				margin: 0 8px 0 0;
				width: 16px;
			}
		}

		.public-patterns {
			.icon {
				background: url("../images/number_of_patterns.png") transparent no-repeat left top;
				background-size: 16px 16px;
			}
		}


	}
}
