@import '../constants/variables';
@import '../constants/mixins.scss';

.vertical-guides {
  bottom: 0;
  height: 33px;
  position: absolute;
  left: 33px;
  pointer-events: none;

  &.reduce-contrast {
    opacity: 0.75;
  }

  .vertical-guide {
    position: absolute;
    height: 33px;
    width: 33px;
    margin-left: 1px; // adjust for line width
    top: 0;

    @include verticalGuide();

    &.center {
      @include verticalGuideCenter();
    }
  }
}
