@import "../constants/variables";

.pattern {
	.weaving-instructions {
		.row-direction-buttons {
			button {
				background: $color-row-direction-background;
				border: 1px solid $color-row-direction;
				color: $color-row-direction;
				margin: 0 8px 8px 0;
				position: relative;
				width: 40px;

				&.disabled {
					background: $color-row-direction-background-disabled;
				}
			}

			.row-number {
				bottom: 2px;
				color: $color-hint;
				font-size: 10px;
				left: 3px;
				line-height: 1.1;
				position: absolute;
				text-align: left;
			}
		}
	}
}

.weaving-freehand {
	label {
		margin-bottom: 0;

		&[for="empty-hole"] {
			display: none;
		}
	}

	&.editing {
		min-width: 715px;
	}
}

.freehand-threads {
	background: $color-palette-background;
	border: 1px solid $color-panel-border;
	border-radius: 4px;
	float: left;
	margin-bottom: 8px;
	overflow: hidden;
	padding: 8px 8px 8px 8px;

	ul {
		font-size: 0;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			border: 1px solid $color-panel-border;
			display: inline-block;
			height: 32px;
			margin-right: 8px;
			width: 32px;

			&:focus {
				outline: 2px dashed $color-focus;
				outline-offset: 2px;
			}

			&.selected {
				outline: 4px solid $color-palette-outline;
			}

			&.backward {
				background: $color-weaving-backwards-bg;
			}
		}
	}
}

.freehand-directions {
	clear: both;
	font-size: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		background: $color-chart-background;
		border: 1px solid $color-panel-border;
		display: inline-block;
		font-size: 1rem;
		height: 32px;
		line-height: 32px;
		margin-right: 8px !important;
		text-align: center;
		width: 32px;

		&:focus {
			outline: 2px dashed $color-focus;
			outline-offset: 2px;
		}

		&.selected {
			outline: 4px solid $color-palette-outline;
		}

		&.direction-B {
			background: $color-weaving-backwards-bg;
		}
	}
}

#freehand-chart-palette {
	.color-holder {
		margin-left: 0;
	}
}
