@import "../constants/variables";

.weaving {
	clear: both;
	
	ul {
		float: left;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
		}

		.label {
			display: inline-block;
			height: 32px;
			line-height: 32px;
			text-align: center;
			width: 32px;
		}

		.cell {
			display: inline-block;

			span {
				background: $color-chart-background;
				border-right: 1px solid $color-chart-border;
				display: inline-block;
				height: 32px;
				width: 32px;

				&:focus {
					outline: 2px dashed $color-focus;
					outline-offset: -2px;
				}

				&.backward {
					background: $color-weaving-backwards-bg;
				}
			}
		}
	}

	.row {
		&:first-child {
			.weaving-row {
				border-top: 1px solid $color-chart-border;
			}
		}
	}

	.tablet-labels {
		margin-left: 32px;
	}

	.weaving-chart {
		clear: both;
	}

	.weaving-row {
		border-bottom: 1px solid $color-chart-border;
		border-left: 1px solid $color-chart-border;
	}

	.hint {
		clear: both;
	}
}
