@import "../constants/variables";

.weaving-design-twill {
	clear: both;
	float: left;
	padding-right: 8px;

	.weaving-design-row {
		ul {
			overflow-x: visible;
			position: relative;
			white-space: nowrap;
		}

		.last-row {
			height: 0;

			.row-label {
				visibility: hidden;
			}

			.cell {
				&.value {
					border-top: 1px solid $color-twill-design-cell-border;
				}

				&:nth-child(even) {
					height: 32px;
					top: 0;
				}
			}
		}

		.first-row {
			.cell {
				&:nth-child(even) {
					height: 32px;
				}
			}
		}

		&:nth-child(2) {
			.value {
				&:nth-child(odd) {
					border-top: 1px solid $color-twill-design-cell-border;
				}
			}
		}

		.cell {
			-webkit-print-color-adjust: exact;
			background-color: $color-twill-design-cell-background;
			border-bottom: 1px solid $color-twill-design-cell-border;
			border-right: 1px solid $color-twill-design-cell-border;
			display: inline-block;
			font-size: 16px;
			height: 64px;
			line-height: 32px;
			margin: 0;
			padding: 0;
			position: relative;
			text-align: center;
			vertical-align: top;
			width: 32px;

			&:nth-child(even) {
				top: 32px;
			}

			&.first-tablet {
				border-left: 1px solid $color-twill-design-cell-border;
			}
		}

		.row-label {

		}
	}

	ul {
		font-size: 0;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
		}

		.cell,
		.row-label {
			display: inline-block;
			font-size: 1rem;
			height: 32px;
			line-height: 32px;
			overflow: hidden;
			text-align: center;
			vertical-align: top;
			width: 32px;

			&.odd {
				left: 0;
				position: absolute;
				top: 32px;
			}
		}
	}

	.tablet-labels {
		margin-left: 32px;
		overflow-x: auto;
		white-space: nowrap;

		span {
			display: inline-block;
			height: 32px;
			width: 32px;
		}
	}
}
