@import "../constants/variables";

.weft {
	display: inline-block;
	margin: 8px 0;
	position: relative;

	&.editing {
		.content {
			background: $color-chart-editing-background;
			border: 1px solid $color-focus;
		}
	}

	.content {
		border: 1px solid transparent;
		border-radius: 4px;
		margin: 8px 0;
		padding: 8px;
	}

	.text {
		line-height: 24px;
		margin: 0 8px;
		vertical-align: top;
	}

	.color {
		-moz-appearance: none; /* Mozilla */
		-webkit-appearance: none; /* WebKit */
		appearance: none; /* CSS3 */
		border: 2px solid $color-weft-picker-border;
		display: inline-block;
		height: 32px;
		position: relative;
		top: -4px;
		vertical-align: bottom;
		width: 32px;
	}
}