@import "../constants/variables";

.about {
	.donations {
		align-items: center;
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 8px;
	}

	.contact-info {
		margin-bottom: 8px;
	}
}
