@import "../constants/variables";

// !important to override Bootstrap styles
h1 {
	border-bottom: 1px solid $color-panel-border;
	font-size: 1.8rem !important;
}

h2 {
	font-size: 1.6rem !important;
}

h3 {
	font-size: 1.4rem !important;
}

h4 {
	font-size: 1.2rem !important;
}

.clearing {
	clear: both;
}

.valid-feedback {
	color: $color-valid;
	display: block;
	font-size: 80%;
	margin-top: .25rem;
	width: 100%;

	&::before {
		content: "\2714 ";
	}
}

.invalid-feedback {
	color: $color-invalid;
	font-size: 80%;
	margin-top: .25rem;
	width: 100%;

	&::before {
		content: "\2718 ";
	}
}

.form-group {
	label {
		width: 100%;
	}
}
