@import "../constants/variables";

.home {
	.show-add-pattern-form {
		margin: 8px 0;
	}

	.donations {
		align-items: center;
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 8px;
	}
}
