@import "../constants/variables";

.interactive-weaving-chart {
	background-color: $color-interactive-weaving-chart-page-background;
	color: $color-interactive-weaving-chart-color !important;
	min-height: 100vh;

	.main-container {
		margin: 0 0 0 8px;
	}

	.links {
		margin-bottom: 20px;
	}
}
