@import "../constants/variables";

.interactive-weaving-chart-page {
	background-color: $color-interactive-weaving-chart-page-background;
	color: $color-interactive-weaving-chart-color;
	min-height: 100vh;

	.row {
		position: relative;

		&.selected {
			z-index: 10;
		}
	}

	.highlight {
		height: 100%;
		position: absolute;
		width: 100%;

		.buttons {
			display: none;
		}

		.innertube {
			background: $color-interactive-weaving-chart-highlight;
			height: 100%;
			margin-left: 33px;
		}
	}

	.selected {
		.buttons {
			display: block;
			position: absolute;

			button {
				height: 50px;
				width: 50px;
			}

			.button-up {
				background-image: url("/images/up.png");
			}

			.button-down {
				background-image: url("/images/down.png");
			}
		}

		.innertube {
			background: transparent;
			outline: 3px solid $color-interactive-weaving-chart-outline;
		}
	}
}
