@import "../constants/variables";

.interactive-weaving-chart-page {
	background-color: $color-interactive-weaving-chart-page-background;
	color: $color-interactive-weaving-chart-color;
	min-height: 100vh;
}
