@import "../constants/variables";

.pattern {
	background-color: $color-pattern-page-background;
	min-height: 100vh;
	position: relative;

	.main-container {
		margin: 0 0 0 8px;
	}

	h2 {
		clear: both;
	}

	// vertical preview is by the side of the weaving chart
	.orientation-change-container {
		clear: both;
		display: flex;
	}

	.preview-outer {
		clear: both;
	}

	.weaving-outer {
		margin-top: 8px;
	}

	.preview-up {
		.weaving-outer {
			margin-right: 16px;
			margin-top: 0;
		}
	}

	.update-preview-control {
		margin: 8px 0;

		input {
			margin-right: 8px;
		}
	}

	// forms in edit weaving, threading
	.edit-pattern-form {
		label {
			width: auto;
		}

		.form-control {
			display: inline;
			margin: 0 8px;
			width: auto;

			&[type="number"] {
				width: 6em;
			}
		}

		.controls {
			display: inline;
		}
	}

	.hint {
		clear: both;
		display: block;
		width: 100%;
	}

	.preview-orientation {
		margin: 8px 0;
	}

	.menu {
		margin: 8px 0;
	}

	.links {
		margin: 8px 0;

		a {
			margin-right: 8px;
		}
	}

	.pattern-is-public {
		clear: both;
		overflow: hidden;

		button {
			float: right;
		}
	}

	.pattern-images {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding: 8px;

		.thumbnail {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			cursor: pointer;
			height: 150px;
			width: 150px;

			button {
				float: right;
				margin: 8px;
			}
		}

		button {
			svg {
				pointer-events: none;
			}
		}

		&.selected {
			align-items: center;
			background-color: $color-pattern-image-background;
			display: flex;
			height: 100vh;
			justify-content: center;
			left: 0;
			position: fixed;
			top: 0;
			width: 100vw;
			z-index: 4;

			button {
				&.close-image {
					position: absolute;
					right: 8px;
					top: 8px;
				}
			}

			.full-size {
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				height: 100%;
				padding: 8px;
				width: 100%;
			}
		}

		.caption {
			background-color: $color-pattern-image-caption-bg;
			border-radius: 4px;
			bottom: 8px;
			min-height: 60px;
			overflow: hidden;
			padding: 8px;
			position: absolute;
			width: 80%;

			.field-value {
				clear: none;
			}

			h2 {
				color: $color-pattern-image-color;
				display: inline;
				font-size: 1rem !important;
				font-weight: normal;
				max-height: 100px;
			}
		}
	}
}
