@import "../constants/variables";

.pattern {
	background-color: $color-pattern-page-background;
	min-height: 100vh;
	position: relative;

	h2 {
		clear: both;
	}

	.main-tabs {
		clear: both;

		ul {
			font-size: 0;
			list-style-type: none;
			margin: 16px 0 0 0;
			padding: 0;
			padding-left: 20px;
			text-align: left;
		}

		// keyline
		&::after {
			background-color: $color-pattern-page-background;
			border: 0;
			border-radius: 0;
			border-top: 1px solid $color-tab-border;
			content: "&nbps;";
			display: block;
			font-size: 1px;
			margin: -1px 0 8px 0;
			max-width: 600px;
			outline: none;
			padding: 0;
			position: relative;
		}

		li {
			display: inline;
			margin: 0;
			margin-right: 2px;
			padding: 0;

			&.selected {
				a {
					background: $color-pattern-page-background;
					border-color: $color-tab-border;
					color: $color-text;
					z-index: 2;
				}
			}
		}

		a {
			background: $color-tab-inactive-background;
			border: 1px solid $color-tab-border;
			border-bottom: 0;
			border-radius: 5px 5px 0 0;
			color: $color-tab-inactive-color;
			cursor: pointer;
			display: inline-block;
			font-size: 16px;
			line-height: 32px;
			outline: none;
			padding: 0 10px;
			position: relative;
			text-decoration: none;

			&:focus {
				outline: 1px dotted $color-tab-focus;
				outline-offset: -4px;
			}
		}
	}

	.tab-content {
		h2 {
			font-size: 20px;
			font-weight: bold;
		}
	}

	/* forms in edit weaving, threading */
	.edit-pattern-form {
		label {
			width: auto;
		}

		.form-control {
			display: inline;
			margin: 0 8px;
			width: auto;

			&[type="number"] {
				width: 6em;
			}
		}

		.controls {
			display: inline;
		}
	}

	.hint {
		clear: both;
		display: block;
		width: 100%;
	}

	.preview-orientation {
		margin: 8px;
	}

	.menu {
		margin: 8px 0;
	}

	.links {
		margin: 8px 0;

		a {
			margin-right: 8px;
		}
	}

	.pattern-is-public {
		clear: both;
		overflow: hidden;

		button {
			float: right;
		}
	}

	.pattern-images {
		display: flex;
		justify-content: space-evenly;
		padding: 8px;

		.thumbnail {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 150px;
			width: 150px;

			button {
				float: right;
				margin: 8px;
			}
		}

		button {
			svg {
				pointer-events: none;
			}
		}
	}
}
