@import "../constants/variables";

.set-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-left: 0;
	margin-right: 0;
	padding: 8px;
}

.set-page-name {
	position: relative;

	.icon {
		background-size: 40px 40px;
		height: 40px;
		left: 0;
		position: absolute;
		top: 0;
		width: 40px;
	}

	h2 {
		margin-left: 40px;
		padding-left: 4px;
		padding-top: 4px;
	}

	input {
		margin-left: 46px;
	}
}

