@import "../constants/variables";

.user {
	background-color: $color-home-page-background;

	.main-container {
		max-width: unset;
		width: unset;
	}

	.add-controls {
		margin-bottom: 8px;
	}

	h1 {
		.icon {
			background-position: left top;
			background-repeat: no-repeat;
			background-size: 32px 32px;
			content: "";
			float: left;
			height: 32px;
			margin: 0 8px 0 0;
			width: 32px;
		}
	}

	.container {
		margin-left: 15px;
		max-width: 600px;
	}

	.pattern-list-holder {
		max-width: unset;
		width: unset;
	}

	.tablet-filter-form {
		padding-left: 0;
	}

	.editable-text {
		clear: none;

		form {
			clear: none;
		}

		.field-value {
			clear: none;
		}
	}
}
