@import "../constants/variables";

.add-color-book-form {
	background: $color-palette-background;
	border: 1px solid $color-panel-border;
	border-radius: 4px;
	overflow: hidden;
	padding: 8px;
	width: 650px;

	.controls {
		float: left;

		:last-child {
			margin-left: 8px;
		}
	}

	.form-group {
		label {
			font-size: 1rem;
			//width: unset;
		}
	}

	.form-control {
		//display: inline-block;
	}

	.colors {
		.color-book {
			.color {
				display: block;
			}
		}

		input {
			background-color: transparent;
			border: 0;
			color: transparent;
			float: left;
			font-size: 0;
			height: 100%;
			pointer-events: none;
			width: 100%;

			&:focus {
				outline: 2px dotted $color-palette-outline;
			}
		}
	}
}

.new-color-book-picker-holder {
	left: 50%;
	position: fixed;
	top: 10px;
	transform: translate(-50%, 0);
	z-index: 3;
}
