@import '../constants/variables';

.add-pattern-form {
	margin-bottom: 16px;
	overflow: hidden;

	.controls {
		float: right;

		:last-child {
			margin-left: 8px;
		}
	}

	.hint {
		color: $color-hint;

		.icon {
			margin-right: 8px;
		}
	}

	.twill-direction {
		input {
			&[type="radio"] {
				margin-right: 8px;
			}
		}
	}
}
