@import "../constants/variables";

.add-to-set-form {
	label {
		font-size: 0;
	}

	.checkbox-label {
		float: left;
		width: 32px;
	}

	.input-label {
		width: auto;
	}

	.invalid-feedback {
		font-size: 0.8rem;
	}

	input {
		&[type="checkbox"] {
			height: 1.5rem;
			margin-right: 8px;
			width: auto;
		}
	}

	.existing-set {
		clear: both;
		width: 100%;

		label {
			font-size: 1rem;
			width: 100%;
		}

		input {
			float: left;
		}
	}
}
