@import "../constants/variables";

.add-to-set-form {
	background: $color-panel-background;
	border: 1px solid $color-panel-border;
	border-radius: 4px;
	padding: 8px;
	width: 400px;

	.hint {
		color: $color-hint;
	}

	form {
		margin-top: 8px;
	}

	.checkbox-label {
		float: left;
		width: 32px;
	}

	.input-label {
		width: auto;
	}

	.invalid-feedback {
		font-size: 0.8rem;
	}

	input {
		&[type="checkbox"] {
			height: 1.5rem;
			margin-right: 8px;
			width: auto;
		}
	}

	.existing-set {
		clear: both;
		width: 100%;

		label {
			width: 100%;
		}

		input {
			float: left;
		}
	}

	.controls {
		button {
			&:first-child {
				margin-right: 8px;
			}
		}
	}

	.wrapper {
		max-height: 350px;
		overflow-y: auto;
	}
}
