@import "../constants/variables";

.pattern-filter-form {
	padding: 8px 15px 0 15px;

	.form-group {
		margin-bottom: 8px;

		input {
			display: inline-block;
			margin: 0 8px;
			width: 80px;
		}

		label {
			font-size: 0;
			width: auto;
		}
	}

	.filter-checkbox {
		clear: both;
		width: 100%;

		label {
			width: 100%;
		}

		input {
			float: left;
			height: 1.5rem;
			margin-right: 8px;
			width: auto;
		}
	}

	.controls {
		display: inline;
		margin-left: 16px;
	}

	.invalid-feedback {
		font-size: .8rem;
		position: absolute;
	}

	[type="submit"] {
		display: none;
	}
}
