@import "../constants/variables";

.twill-start-row-form {
	margin-top: 8px;

	.form-group {
		input {
			width: 6em;
		}

		label {
			margin: 0 8px;
			width: auto;
		}
	}

	[type="submit"] {
		display: none;
	}

	.invalid-feedback {
		font-size: .8rem;
	}
}
