@import '../constants/variables';

// ====================
// MOBILE-FIRST STYLES (DEFAULT)
//

.upload-pattern-form {
  color: $color-text;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;

  form {
    background: $color-panel-background;
    border: 1px solid $color-panel-border;
    border-radius: 4px;
    margin: 6px;
    padding: 8px;

    p {
      white-space: normal;
      word-wrap: break-word;
    }
  }

  label {
    font-size: 0;

    .invalid {
      font-size: 1rem;
    }
  }

  .btn-close {
    float: right;
  }

  [type='submit'] {
    display: none;
  }
}

// ====================
// DESKTOP STYLES
// ====================

@media (min-width: 768px) {
  .upload-pattern-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 100px;

    form {
      width: 500px;
      margin: 0;
    }
  }
}
